body {
	font-family: 'Roboto', sans-serif;
	background-color: #fceabb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #f8b500, #fceabb); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to left,
		#f8b500,
		#fceabb
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
img {
    position: absolute;
}

div {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
};

h1 {
    margin-left: auto;  
    margin-right: auto;
    padding-left: auto;
    padding-right: auto;    
    text-align: center;
};

input {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

canvas {
    position: relative;
}